{% extends "admin_app/base2.html" %}
{% load static %}
{% block content1 %}

<!-- Begin Page Content -->
<!-- <div class="container-fluid"> -->

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Project Details</h1>
<p class="mb-4">Project name can be a Unique Polyhouse name, or a certain Boundry in which all the IOT devices will
  be
  tied together.If there are multiple Polyhouse , multiple Polyhouse should be entered.You can tie Different
  polyhouses with a TAG to identify easily.</p>
<!-- Content Row -->
<div class="row">
  <!-- <div class="col-md-6 col-xs-6 col-lg-6"></div> -->
  <!-- Project Form -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Add Device</h6>
    </div>
    <div class="card-body">
      <form action="{% url 'admin_app:Iot' %}" method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Submit Form</button>
        <!-- <button type="submit" class="save btn btn-default">Save123</button> -->
      </form>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- /.container-fluid -->
{% endblock %}